*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: #ffffff;
    margin: 10px;
}

h1 {
    text-align: left;
    font-family: Tahoma, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

main {
    width: 500px;
    margin: 0 auto;
}

.description {
    padding: 10px 20px;
    background: #f3f3f3;
    font-family: cursive;
}

.description_margin {
  margin-top: 40px;
}

.inputer-out {
    width: 100%;
    font-size: 12rem;
    height: 221px;
    background-color: #393939;
    color: #fff;
    text-align: center;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
}

button:hover {
    background-color: #eaeaea;
}

.clean {
    background-color: #c43e3e;
    border-color: #b0353a;
    color: #fff;
    grid-area: 3 / 3 / 3 / 5;
}

.clean:hover {
    background-color: #e76a6e;
}

.digits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background: #f8f8f8;
}